<div role="tabpanel" class="tab-pane " id="equipamentos">

        <h2>Equipamentos</h2>

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="blue-box title">
                    Principal atividade econômica
                    <small>por Empregos</small>
                </div>
                <div class="blue-box">
                    <p class="label">Administração Pública em Geral</p>
                    <div class="number">
                        <strong class="counter">249</strong><span>Mil Empregos</span>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="blue-box title">
                    Principal Ocupaçāo
                    <small>por Empregos</small>
                </div>
                <div class="blue-box">
                    <p class="label">Assistentes Administrativos</p>
                    <div class="number">
                        <strong class="counter">137</strong><span>Mil Ocupações</span>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="blue-box title">
                    Salário Médio
                </div>
                <div class="blue-box">
                    <p class="label">Salário Médio</p>
                    <div class="number">
                        R$ <strong class="counter">2,66</strong><span>Mil</span>
                    </div>
                </div>
            </div>
        </div><!--/.row-->
    </div>