<div role="tabpanel" class="tab-pane active" id="geral">
    <h2>Perfil Geral</h2>


    <p>Belo Horizonte
    é um dos 853
    municípios do estado de Minas Gerais.
    Com área de 331 
    km², possui 2,37 milhões
    de habitantes e PIB per Capita de R$ 23,0 mil.
    Localizado na Mesorregião Metropolitana de Belo Horizonte,
    é o    1º
    município do estado em PIB.</p>



    <div class="row">

      <div class="dl-box col-xs-12 col-md-6">
        <h3>Estabelecimento</h3>
        <dl class="dl-horizontal">
          
          <dt>Principal Produto por Valor Total Exportado</dt>
          <dd>
            <small>Tubos de Ferro ou Aço</small>
            USD <strong class="counter">210</strong>
            <span>Milhões</span>
          </dd>
          
          
          <dt>Principal Produto por Valor Total Importado</dt>
          <dd>
            <small>Aviões</small>
            USD <strong class="counter">222</strong>
            <span>Milhões</span>
          </dd>
          
          <dt>Total de Exportações</dt>
          <dd>
            USD <strong class="counter">934</strong>
            <span>Milhões</span>
          </dd>
          <dt>Total de Importações</dt>
          <dd>
            USD <strong class="counter">747</strong>
            <span>Milhões</span>
          </dd>
        </dl>
        <a href="http://dataviva.info/pt/location/4mg030000#establishment" aria-controls="establishment" role="tab" data-toggle="tab" class="pull-right btn btn-primary btn-xs m-r-lg" graph="" data-id="4mg030000">
          Mais detalhes
        </a>
      </div>



      <div class="dl-box col-xs-12 col-md-6">
        <h3>Equipamentos</h3>
        <dl class="dl-horizontal">
          <dt>Principal atividade econômica</dt>
          <dd>
            <small>Administração Pública em Geral</small>
            <strong class="counter">249</strong>
            <span>Mil</span>
            Empregos
          </dd>
          <dt>Principal Ocupaçāo</dt>
          <dd>
            <small>Assistentes Administrativos</small>
            <strong class="counter">137</strong>
            <span>Mil</span>
            Ocupações
          </dd>
          <dt>Salário Médio</dt>
          <dd>
            R$ <strong class="counter">2,66</strong>
            <span>Mil</span>
          </dd>
          <dt>Total de Empregos</dt>
          <dd>
            <strong class="counter">1,35</strong>
            <span>Milhões</span>
          </dd>
        </dl>
        <a href="http://dataviva.info/pt/location/4mg030000#equipments" aria-controls="equipments" role="tab" data-toggle="tab" class="pull-right btn btn-primary btn-xs m-r-lg" graph="" data-id="4mg030000">
          Mais detalhes
        </a>
      </div>

      
        <div class="dl-box col-xs-12 col-md-6">
          <h3>Leitos</h3>
          <dl class="dl-horizontal">
            
            
            <dt>Atividade Econômica com Menor Distância</dt>
            <dd>
              <small>Arrendamento Mercantil</small>
              <strong class="counter">0,46</strong>
              <span></span>
            </dd>
            
            
            <dt>Produto com Maior Ganho de Oportunidade</dt>
            <dd>
              <small>Haletos</small>
              <strong class="counter">0,49</strong>
              <span></span>
            </dd>
            
            
            <dt>Atividade Econômica com Maior Ganho de Oportunidade</dt>
            <dd>
              <small>Transporte Espacial</small>
              <strong class="counter">0,51</strong>
              <span></span>
            </dd>
            
          </dl>
          <a href="http://dataviva.info/pt/location/4mg030000#beds" aria-controls="beds" role="tab" data-toggle="tab" class="pull-right btn btn-primary btn-xs m-r-lg" graph="" data-id="4mg030000">
              Mais detalhes
          </a>
        </div>
      



      <div class="dl-box col-xs-12 col-md-6">
        <h3>Profissionais</h3>
        <dl class="dl-horizontal">
        
          <dt>Universidade com Maior Número de Matrículas</dt>
          <dd>
            <small>Pontifícia Universidade Católica de Minas Gerais</small>
            <strong class="counter">31,3</strong>
            <span>Mil</span>
          </dd>
          
          
          <dt>Curso Superior com Maior Número de Matrículas</dt>
          <dd>
            <small>Direito</small>
            <strong class="counter">28,8</strong>
            <span>Mil</span>
          </dd>
          
          
          <dt>Escola com Maior Número de Matrículas</dt>
          <dd>
            <small>Instituto de Educacao de Minas Gerais</small>
            <strong class="counter">3,70</strong>
            <span>Mil</span>
          </dd>
          
          
          <dt>Curso Básico com Maior Número de Matrículas</dt>
          <dd>
            <small>Informática</small>
            <strong class="counter">487</strong>
            <span></span>
          </dd>
          
        </dl>
        <a href="http://dataviva.info/pt/location/4mg030000#professionals" aria-controls="professionals" role="tab" data-toggle="tab" class="pull-right btn btn-primary btn-xs m-r-lg" graph="" data-id="4mg030000">
            Mais detalhes
        </a>
      </div>

    </div>
</div>